<!-- Responsive Datatable -->
<section id="responsive-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <div class="col-md-10">
                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="col-md-2 text-right">
                        <a title="Güncelle" class="btn btn-icon btn-gradient-success text-white">
                            Yeni Ekle <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>
                </div>
                <div class="card-datatable">
                    <table class="dt-responsive table" id="table">
                        <thead>
                            <tr>
                                <th>fff</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Post</th>
                                <th>City</th>
                                <th>Date</th>
                                <th>Salary</th>
                                <th>Age</th>
                                <th>Experience</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>dsfsdf</td>
                                <td>dsfsdf</td>
                                <td>dsfsdf</td>
                                <td>dsfsdf</td>
                                <td>dsfsdf</td>
                                <td>dsfsdf</td>
                                <td>dsfsdf</td>
                                <td>dsfsdf</td>
                                <td>dsfsdf</td>
                                <td class="text-right pr-3">

                                    <a title="Güncelle" class="btn btn-icon btn-gradient-success text-white">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a title="Sil" class="btn btn-icon btn-gradient-danger text-white">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>

                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>sdfsdf</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Post</th>
                                <th>City</th>
                                <th>Date</th>
                                <th>Salary</th>
                                <th>Age</th>
                                <th>Experience</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Responsive Datatable -->