@inject IHttpContextAccessor http
<!-- Basic Vertical form layout section start -->
<section id="basic-vertical-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@http.GetUserNameAndSurname()</h4>
                </div>
                <div class="card-body">
                    <form class="form form-vertical">
                        <div class="row">
                            <div class="col-12 p-0">
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-vertical">Adınız</label>
                                                <input type="text" id="first-name-vertical" class="form-control" name="fname" placeholder="First Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-vertical">Soyadınız</label>
                                                <input type="text" id="first-name-vertical" class="form-control" name="fname" placeholder="First Name" />
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-vertical">E-posta Adresi</label>
                                    <input type="email" id="email-id-vertical" class="form-control" name="email-id" placeholder="Email" />
                                </div>
                            </div>
                           
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="password-vertical">Şifre</label>
                                    <input type="password" id="password-vertical" class="form-control" name="contact" placeholder="Password" />
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="password-vertical">Yeni Şifre</label>
                                    <input type="password" id="password-vertical" class="form-control" name="contact" placeholder="Password" />
                                </div>
                            </div>

                            
                            <div class="col-12">
                                <button type="reset" class="btn btn-primary mr-1">Kayıt</button>
                                <th:a class="btn btn-outline-secondary" asp-controller="Cms" asp-action="Index" >İptal</th:a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic Vertical form layout section end -->