@inject IHttpContextAccessor http
@model QRMenu.CmsManagement.Presentation.CmsUI.Models.Admins.AdminProfileOutViewModel;
<!-- Basic Vertical form layout section start -->
<section id="basic-vertical-layouts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@http.GetUserNameAndSurname()</h4>
                </div>
                <div class="card-body">
                    <form class="form form-vertical" method="post" id="cmsAdminProfile" data-url="/cms-yonetici-guncelle">
                        <div class="row">
                            <div class="col-12 p-0">
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="adminName">Adınız</label>
                                                <input type="text" id="adminName" class="form-control" name="adminName" value="@Model.AdminReadDto.AdminName" placeholder="First Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="adminSurname">Soyadınız</label>
                                                <input type="text" id="adminSurname" class="form-control" name="adminSurname" value="@Model.AdminReadDto.AdminSurName" placeholder="First Name" />
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="adminEmail">E-posta Adresi</label>
                                    <input type="email" id="adminEmail" class="form-control" name="adminEmail" value="@Model.AdminReadDto.AdminEmail" placeholder="Email" />
                                </div>
                            </div>
                           
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="adminPassword">Şifre</label>
                                    <input type="password" id="adminPassword" class="form-control" name="adminPassword" placeholder="Password" />
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="adminPasswordNew">Yeni Şifre</label>
                                    <input type="password" id="adminPasswordNew" class="form-control" name="adminPasswordNew" placeholder="Password" />
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="adminPasswordNewControl">Yeni Şifre Tekrar</label>
                                    <input type="password" id="adminPasswordNewControl" class="form-control" name="adminPasswordNewControl" placeholder="Password" />
                                </div>
                            </div>

                            
                            <div class="col-12">
                                <button class="btn btn-primary mr-1">Güncelle</button>
                                <th:a class="btn btn-outline-secondary" asp-controller="Cms" asp-action="Index" >İptal</th:a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic Vertical form layout section end -->

@section script{
    <script src="/custom/js/cms-admin-profile.js?v=2.4"></script>
}